@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@600;700&family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");

.container {
  max-width: 95%;
  margin: 0px auto;
  text-align: center;
}
.clear {
  background-color: white;
  height: 230px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: 2px solid grey;
  background-color: rgb(30, 116, 145);
}
.logo {
  font-family: "Caveat", cursive;
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin-left: 20px;
}

.navList {
  margin: auto 0px;
  padding: 0 10px;
  width: 50%;
}
/* ul {
  vertical-align: middle;
  margin: auto 0;
} */
li {
  display: inline-block;

  margin: 10px 10px;
  padding: 0px 10px;
  font-size: 18px;
}
.navList a {
  text-decoration: none;
  color: white;
}
.navList li:hover {
  background-color: rgba(247, 242, 242, 0.5);
  color: rgb(122, 97, 146);
}

.social {
  margin: auto 5px;
  display: flex;
  justify-content: space-between;
}
svg {
  margin: 0 10px;
}
.wallpaper {
  background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  position: relative;
  display: block;
  height: 550px;
  margin: 50px auto;
}

.relativeText {
  position: absolute;
  bottom: 80px;
  left: 200px;
  width: 35%;
}
.relativeText h1 {
  font-size: 60px;
  font-family: "Caveat", cursive;
  color: grey;
}
.relativeText p {
  font-size: 20px;
  color: grey;
}
